In [49]:
import pandas as pd
import numpy as np

In [50]:
df1 = pd.read_csv("labeled-chris.csv")
df1['sentiment'] = df1["sentiment"].astype("string").replace({'1' : 'negative', '2' : 'neutral', '3' : 'positive'}, regex=True)
# df1.head()
df1.describe(include = "all")

,sentiment,id,title,score,external_url,author,submitted_time
count,350,350,350,350.000000,350,350,350
unique,3,350,350,NaN,350,250,312
top,neutral,bdibgm,How Atlanta plans to get to 100% green energy ...,NaN,https://www.pri.org/stories/2019-04-15/how-atl...,WannoHacker,2021-07-22
freq,196,1,1,NaN,1,7,4
mean,NaN,NaN,NaN,113.728571,NaN,NaN,NaN
std,NaN,NaN,NaN,507.665174,NaN,NaN,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,4.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,29.500000,NaN,NaN,NaN
max,NaN,NaN,NaN,6909.000000,NaN,NaN,NaN

In [51]:
df2 = pd.read_csv("labeled-daniil.csv", delimiter=";")
df2.describe(include = "all")

,sentiment,id,title,score,external_url,author,submitted_time
count,350,350,350,350.000000,350,350,350
unique,3,350,350,NaN,350,258,314
top,negative,c7s6y6,Burberry makes an unexpected commitment to env...,NaN,https://therising.co/2019/07/01/burberry-annou...,WannoHacker,2022-02-11
freq,168,1,1,NaN,1,14,3
mean,NaN,NaN,NaN,91.311429,NaN,NaN,NaN
std,NaN,NaN,NaN,289.854529,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,5.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,43.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,3143.000000,NaN,NaN,NaN

In [52]:
df3 = pd.read_csv("labeled-daniil2.csv", delimiter=";")
df3.describe(include = "all")

,sentiment,id,title,score,external_url,author,submitted_time
count,350,350,350,350.00000,350,350,350
unique,3,350,350,NaN,350,276,309
top,neutral,cng5ze,Negative nominal interest rates and the bank l...,NaN,https://ideas.repec.org/p/bno/worpap/2019_04.html,Beren-,2021-09-27
freq,217,1,1,NaN,1,6,3
mean,NaN,NaN,NaN,80.24000,NaN,NaN,NaN
std,NaN,NaN,NaN,412.98059,NaN,NaN,NaN
min,NaN,NaN,NaN,1.00000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.00000,NaN,NaN,NaN
50%,NaN,NaN,NaN,4.50000,NaN,NaN,NaN
75%,NaN,NaN,NaN,28.75000,NaN,NaN,NaN
max,NaN,NaN,NaN,5951.00000,NaN,NaN,NaN

In [53]:
df4 = pd.read_csv("labeled-test-joshua.csv")
df4.describe(include = "all")

,sentiment,id,title,score,external_url,author,submitted_time
count,350,350,350,350.000000,350,350,350
unique,3,350,350,NaN,350,282,313
top,neutral,ca7aoz,Model that predicted 2008 financial crisis sug...,NaN,https://globalnews.ca/news/5459969/financial-c...,viva_la_vinyl,2021-07-22
freq,156,1,1,NaN,1,6,4
mean,NaN,NaN,NaN,122.497143,NaN,NaN,NaN
std,NaN,NaN,NaN,489.202783,NaN,NaN,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,4.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,30.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,5566.000000,NaN,NaN,NaN

In [54]:
df5 = pd.read_csv("labeled-test-ryan.csv")
df5['sentiment'] = df1["sentiment"].astype("string").replace({'Negative' : 'negative', 'Neutral' : 'neutral', 'Positive' : 'positive'}, regex=True)

df5.describe(include = "all")

,sentiment,id,title,score,external_url,author,submitted_time
count,350,350,350,350.000000,350,350,350
unique,3,350,350,NaN,350,270,328
top,neutral,p2dcl6,NortonLifeLock takes over Avast for more than ...,NaN,https://democratic-europe.eu/2021/08/11/norton...,WannoHacker,26/7/21
freq,196,1,1,NaN,1,7,3
mean,NaN,NaN,NaN,167.554286,NaN,NaN,NaN
std,NaN,NaN,NaN,1552.031720,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,5.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,34.500000,NaN,NaN,NaN
max,NaN,NaN,NaN,28726.000000,NaN,NaN,NaN

In [55]:
df6 = pd.read_csv("labelled_Van2.csv", delimiter=";")
df6['sentiment'] = df1["sentiment"].astype("string").replace({'Negative' : 'negative', 'Neutral' : 'neutral', 'Positive' : 'positive'}, regex=True)
df6.describe(include = "all")

,sentiment,id,title,score,external_url,author,submitted_time
count,349,349,349,349.000000,349,349,349
unique,3,349,349,NaN,349,281,312
top,neutral,qjg6jd,Bloomberg: Chinaâ€™s Factory Activity Shrinks ...,NaN,https://www.bloomberg.com/news/articles/2021-1...,speckz,30.09.2021
freq,195,1,1,NaN,1,5,4
mean,NaN,NaN,NaN,94.217765,NaN,NaN,NaN
std,NaN,NaN,NaN,349.015674,NaN,NaN,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,4.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,27.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,4207.000000,NaN,NaN,NaN

In [56]:
frames = [df1, df2, df3, df4, df5, df6]

result = pd.concat(frames)
result.describe(include="all")

,sentiment,id,title,score,external_url,author,submitted_time
count,2099,2099,2099,2099.000000,2099,2099,2099
unique,3,2047,2050,NaN,2047,1087,1654
top,neutral,dki3re,Fed Minutes Show Officials Unsure on Need for ...,NaN,https://www.economist.com/graphic-detail/2019/...,WannoHacker,2021-07-22
freq,1089,2,2,NaN,2,41,9
mean,NaN,NaN,NaN,111.599809,NaN,NaN,NaN
std,NaN,NaN,NaN,739.433945,NaN,NaN,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,4.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,32.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,28726.000000,NaN,NaN,NaN

In [59]:
tmp = result.drop_duplicates(subset=['id'])
tmp.describe(include="all")

,sentiment,id,title,score,external_url,author,submitted_time
count,2047,2047,2047,2047.000000,2047,2047,2047
unique,3,2047,2047,NaN,2047,1087,1650
top,neutral,bdibgm,How Atlanta plans to get to 100% green energy ...,NaN,https://www.pri.org/stories/2019-04-15/how-atl...,WannoHacker,2021-11-10
freq,1061,1,1,NaN,1,39,8
mean,NaN,NaN,NaN,113.281387,NaN,NaN,NaN
std,NaN,NaN,NaN,748.497159,NaN,NaN,NaN
min,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,4.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,32.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,28726.000000,NaN,NaN,NaN

In [61]:
tmp.to_csv("2k-labeled.csv", index=False)